.dashboard {
  max-width: 800px;
  margin: 0 auto;
}

.device-list {
  margin-top: 20px;
}

.device-list ul {
  list-style: none;
  padding: 0;
}

.device-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: aliceblue;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

.device-list button {
  font-weight: bold;
  background-color: crimson;
}
