.dashboard {
  max-width: 800px;
  margin: 0 auto;
}

.device-list {
  margin-top: 20px;
}

.device-list ul {
  list-style: none;
  padding: 0;
}

.device-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: aliceblue;
  color: black;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.remove-device {
  font-weight: bold;
  background-color: crimson;
  cursor: pointer;
}
.w3-center{
  text-align: center;
  margin-top: 1%;
  font-size: larger;
}

.edit-device{
  position: absolute;
  margin-left: 587px;
  background-color: chartreuse;
  color: black;
  cursor: pointer;
}

.edit-telnet{
  position: absolute;
  margin-left: 500px;
  background-color: chartreuse;
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .edit-device {
    margin-left: 400px;
  }
  .edit-telnet{
    margin-left: 300px;
  }
}

@media screen and (max-width: 600px) {
  .edit-device {
    margin-left: 350px;
  }
  .edit-telnet{
    margin-left: 250px;
  }
}

@media screen and (max-width: 500px) {
  .edit-device {
    margin-left: 250px;
  }
  .edit-telnet{
    margin-left: 150px;
  }
}
