.device-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.device-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.device-form label {
  display: block;
  margin-bottom: 10px;
  color: black;
}

.device-form p {
  color: #28a745;
}

.loading{
  display: flex;
  justify-content: center;
  margin: auto;
  color: #28a745;
}

.device-form label input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  color: black;
  background-color: #ccc;
}

.command-section, .parameter-section {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.command-section h3, .parameter-section h4 {
  margin-top: 0;
  color: #28a745;
}

.command-section label, .parameter-section label {
  display: block;
  margin-bottom: 10px;
}

.command-section label input, .parameter-section label input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.device-form button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.device-form button[type="button"] {
  background-color: #28a745;
}

.device-form button[type="submit"] {
  background-color: #007bff;
}

.device-form button:hover {
  opacity: 0.8;
}

.device-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
