.content-header{
  display: flex;
  margin-top: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: aliceblue;
  color: black;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  font-size: medium;
 
}

.content-header h2{
  margin-left: 10vw;
}

.content-header a{
  text-decoration: none;
  color: whitesmoke;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
}